body{
	border: 20px solid #B4BBBD;
	margin: 20px auto 20px auto;
	width: 55%;
	font-family: 'Source Sans Pro', sans-serif;
}
h2{
	border-top: 1.5px solid orange;
	border-bottom: 1.5px solid orange;
	text-align: center;
	font-size: 50px;
	font-family: 'Lora', serif;
	width: 80%;
	padding: 10px;
	/*margin: 50px 150px 50px 150px;*/
	margin: 40px auto 40px auto;
}
#outerdiv{
	margin: 20px 20px 20px 20px;
}
.dates{
	color: #4EA9DE;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.2rem;
	font-weight: 500;
	font-size: 15px;
}
.readmore{
	color: #4EA9DE;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-decoration-color: white;
}
.headings{
	color: black;
	font-family: 'Spirax', cursive;
	font-size: 30px;
}
.innerdiv p:nth-of-type(2){
	border-left: 5px solid orange;
	padding-left: 5px;
}
.innerdiv p:nth-of-type(3){
	border-bottom: 1px solid #B4BBBD;
	padding-bottom: 15px;
}